body{
    margin: 0px 0px;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
}

header{
    background-color: cornflowerblue;

    grid-row-start: 1;
    grid-row-end: 2;
}

main{
    grid-row-start: 2;
    grid-row-end: 3;
}

.main-container{
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.main-container > div.board{
    height: 100%;
    width: 100%;

    display: grid;

    justify-items: center;
    align-items: center;
    grid-area: board;

    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;

    grid-template-areas:
        "a top9 top8 top7 top6 top5 top4 top3 top2 top1 b"
        "left1 sq91 sq81 sq71 sq61 sq51 sq41 sq31 sq21 sq11 right1"
        "left2 sq92 sq82 sq72 sq62 sq52 sq42 sq32 sq22 sq12 right2"
        "left3 sq93 sq83 sq73 sq63 sq53 sq43 sq33 sq23 sq13 right3"
        "left4 sq94 sq84 sq74 sq64 sq54 sq44 sq34 sq24 sq14 right4"
        "left5 sq95 sq85 sq75 sq65 sq55 sq45 sq35 sq25 sq15 right5"
        "left6 sq96 sq86 sq76 sq66 sq56 sq46 sq36 sq26 sq16 right6"
        "left7 sq97 sq87 sq77 sq67 sq57 sq47 sq37 sq27 sq17 right7"
        "left8 sq98 sq88 sq78 sq68 sq58 sq48 sq38 sq28 sq18 right8"
        "left9 sq99 sq89 sq79 sq69 sq59 sq49 sq39 sq29 sq19 right9"
	"c bottom9 bottom8 bottom7 bottom6 bottom5 bottom4 bottom3 bottom2 bottom1 d";
}

.board > div.rank1{
    background-color:rgb(237, 189, 100);
    grid-area: right1;
}

.board > div.rank2{
    background-color:rgb(237, 189, 100);
    grid-area: right2;
}

.board > div.rank3{
    background-color:rgb(237, 189, 100);
    grid-area: right3;
}

.board > div.rank4{
    background-color:rgb(237, 189, 100);
    grid-area: right4;
}

.board > div.rank5{
    background-color:rgb(237, 189, 100);
    grid-area: right5;
}

.board > div.rank6{
    background-color:rgb(237, 189, 100);
    grid-area: right6;
}

.board > div.rank7{
    background-color:rgb(237, 189, 100);
    grid-area: right7;
}

.board > div.rank8{
    background-color:rgb(237, 189, 100);
    grid-area: right8;
}

.board > div.rank9{
    background-color:rgb(237, 189, 100);
    grid-area: right9;
}

.board > div.file1{
    background-color:rgb(237, 100, 100);
    grid-area: top1;
}

.board > div.file2{
    background-color:rgb(237, 100, 100);
    grid-area: top2;
}

.board > div.file3{
    background-color:rgb(237, 100, 100);
    grid-area: top3;
}

.board > div.file4{
    background-color:rgb(237, 100, 100);
    grid-area: top4;
}

.board > div.file5{
    background-color:rgb(237, 100, 100);
    grid-area: top5;
}

.board > div.file6{
    background-color:rgb(237, 100, 100);
    grid-area: top6;
}

.board > div.file7{
    background-color:rgb(237, 100, 100);
    grid-area: top7;
}

.board > div.file8{
    background-color:rgb(237, 100, 100);
    grid-area: top8;
}

.board > div.file9{
    background-color:rgb(237, 100, 100);
    grid-area: top9;
}



.board > div.sq11.white{
    background-color:cornflowerblue;
    grid-area: sq11;
}

.board > div.sq12.white{
    background-color:cornflowerblue;
    grid-area: sq12;
}

.board > div.sq13.white{
    background-color:cornflowerblue;
    grid-area: sq13;
}

.board > div.sq14.white{
    background-color:cornflowerblue;
    grid-area: sq14;
}

.board > div.sq21.white{
    background-color:cornflowerblue;
    grid-area: sq21;
}

.board > div.sq31.white{
    background-color:cornflowerblue;
    grid-area: sq31;
}

.board > div.sq41.white{
    background-color:cornflowerblue;
    grid-area: sq41;
}

.board > div.sq51.white{
    background-color:cornflowerblue;
    grid-area: sq51;
}

.board > div.sq61.white{
    background-color:cornflowerblue;
    grid-area: sq61;
}

.board > div.sq71.white{
    background-color:cornflowerblue;
    grid-area: sq71;
}

.board > div.sq81.white{
    background-color:cornflowerblue;
    grid-area: sq81;
}

.board > div.sq91.white{
    background-color:cornflowerblue;
    grid-area: sq91;
}

.board > div.sq22.white{
    background-color:cornflowerblue;
    grid-area: sq22;
}

.board > div.sq82.white{
    background-color:cornflowerblue;
    grid-area: sq82;
}

.board > div.sq23.white{
    background-color:cornflowerblue;
    grid-area: sq23;
}


.board > div.sq33.white{
    background-color:cornflowerblue;
    grid-area: sq33;
}

.board > div.sq43.white{
    background-color:cornflowerblue;
    grid-area: sq43;
}

.board > div.sq53.white{
    background-color:cornflowerblue;
    grid-area: sq53;
}

.board > div.sq63.white{
    background-color:cornflowerblue;
    grid-area: sq63;
}

.board > div.sq73.white{
    background-color:cornflowerblue;
    grid-area: sq73;
}

.board > div.sq83.white{
    background-color:cornflowerblue;
    grid-area: sq83;
}

.board > div.sq93.white{
    background-color:cornflowerblue;
    grid-area: sq93;
}



.board > div.sq19.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq19;
}

.board > div.sq29.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq29;
}

.board > div.sq39.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq39;
}

.board > div.sq49.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq49;
}

.board > div.sq59.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq59;
}

.board > div.sq69.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq69;
}

.board > div.sq79.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq79;
}

.board > div.sq89.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq89;
}

.board > div.sq99.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq99;
}

.board > div.sq17.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq17;
}

.board > div.sq29.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq29;
}
.board > div.sq28.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq28;
}

.board > div.sq35.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq35;
}

.board > div.sq17.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq17;
}

.board > div.sq27.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq27;
}

.board > div.sq37.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq37;
}

.board > div.sq47.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq47;
}


.board > div.sq57.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq57;
}

.board > div.sq67.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq67;
}

.board > div.sq77.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq77;
}

.board > div.sq78.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq78;
}

.board > div.sq87.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq87;
}

.board > div.sq97.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq97;
}

.board > div.sq99.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq99;
}

.board > div.sq81.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq81;
}

.board > div.sq88.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq88;
}

.board > div.sq66.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq66;
}

.board > div.sq11.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq11;
}

.board > div.sq12.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq12;
}

.board > div.sq13.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq13;
}

.board > div.sq14.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq14;
}

.board > div.sq15.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq15;
}

.board > div.sq16.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq16;
}

.board > div.sq21.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq21;
}
.board > div.sq23.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq23;
}

.board > div.sq32.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq32;
}

.board > div.sq33.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq33;
}

.board > div.sq34.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq34;
}

.board > div.sq41.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq41;
}

.board > div.sq45.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq45;
}

.board > div.sq52.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq52;
}

.board > div.sq54.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq54;
}

.board > div.sq62.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq62;
}

.board > div.sq85.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq85;
}

.board > div.sq93.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq93;
}

.board > div.sq66.black{
    background-color:rgb(97, 86, 243);
    grid-area: sq66;
}

.board > div.line {
    height: 100%;
    width: 100%;
    border: 0.05rem solid #000000ff;
    background: #ffffff00;
}

.board > div.area_f2 {
    grid-column: 9 / 10;
    grid-row: 2 / -2;
}

.board > div.area_f4 {
    grid-column: 7 / 8;
    grid-row: 2 / -2;
}
.board > div.area_f6 {
    grid-column: 5 / 6;
    grid-row: 2 / -2;
}

.board > div.area_f8 {
    grid-column: 3 / 4;
    grid-row: 2 / -2;
}

.board > div.area_r2 {
    grid-row: 9 / 10;
    grid-column: 2 / -2;
}

.board > div.area_r4 {
    grid-row: 7 / 8;
    grid-column: 2 / -2;
}

.board > div.area_r6 {
    grid-row: 5 / 6;
    grid-column: 2 / -2;
}

.board > div.area_r8 {
    grid-row: 3 / 4;
    grid-column: 2 / -2;
}

.board > div.board-border {
    grid-column: 2 / -2;
    grid-row: 2 / -2;
    
    background: #ffffff00;
}
footer{
    grid-row-start: 3;
    grid-row-end: 4;
}